body {
	font-family: 'Lora', serif;
}

h1 {
	font-weight: 700;
}

b {
	color: #8b0000;
}

.header .description {
	padding-top: 20px;
}


@media (min-width: 992px) {
	.main {
		padding : 10px 0;
	}
}

.secondary {
	padding : 20px 0;
}